{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'registration/css/login.css' %}">

<div class="LoginPage">
  <h1>Monthly Employee Timesheet</h1>
  <h3>Login</h3>
  {% if error %}
  <p style="color:red;">{{ error }}</p>
  {% endif %}
  {% if form.errors %}
  <p class="wrong-credential" style="color:red;">Your username and password didn't match. Please try again.</p>
  {% endif %}
  <div class="form-group">
    <form method="post" action="{% url 'loginto' %}">
    {% csrf_token %}
    <div class="user-pass">
      <p>{{ form.login.label_tag }}<span>&nbsp</span>{{ form.login }}</p>
      <p>{{ form.password.label_tag }}<span>&nbsp</span> {{ form.password }}</p>
    </div>
    <input type="submit" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
    </form>
  </div>
</div>

{% endblock %}
