html {
    position: relative;
    min-width: 1024px;
    min-height: 768px;
    height: 100%;
}
.container {
  box-sizing: border-box;
  text-align: center;
}

.container h1 {
    color: green;
}

table#status {
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 20%;
}

table#status td, table#status th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table#status th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
