{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'timelog/css/sheet.css' %}">

<div class="container">
  <h1>Monthly Employee Timesheet</h1>
  <p>Employee Name: <b>{{ context.user.name }}</b></p>
  <div class="form-group">
    <form method="post" action="{% url 'timelog:create' %}">
    {% csrf_token %}
    <div class="my">
      <p>{{ form.month.label_tag }}
        <select name="month" id="month">
          <option value="{{ context.m }}" selected>
          {{ context.m }}
          </option>
        </select>
        {{ form.year.label_tag }}
        <select name="year" id="year">
          <option value="{{ context.y }}" selected>
          {{ context.y }}
          </option>
        </select>
      </p>
    </div>

    <table id="sheet">
      <tr>
        <th>Weeks</th>
        <th>Hours</th>
      </tr>
      {% if data %}
        {% for d in data %}
      <tr>
        <td>{{ form.week1.label }}</td>
        <td>{{ d.week1 }}</td>
      </tr>
      <tr>
        <td>{{ form.week2.label }}</td>
        <td>{{ d.week2 }}</td>
      </tr>
      <tr>
        <td>{{ form.week3.label }}</td>
        <td>{{ d.week3 }}</td>
      </tr>
      <tr>
        <td>{{ form.week4.label }}</td>
        <td>{{ d.week4 }}</td>
      </tr>
      <tr>
        <td>{{ form.total_hours.label }}</td>
        <td>{{ d.total_hours }}</td>
      </tr>
      <p>{{ form.status.label_tag }}{% if d.status == "Submitted" %}If you want to edit the timesheet, please go<a href="{% url 'timelog:update' pk=d.id %}"> here</a>{% else %}Your timesheet has been marked as {{ d.status }}{% endif %}</p>
      {% endfor %}
      {% else %}
      <tr>
        <td>{{ form.week1.label }}</td>
        <td>{{ form.week1 }}<span class="red" style="color:red;">{{ form.week1.errors|striptags }}</span></td>
      </tr>
      <tr>
        <td>{{ form.week2.label }}</td>
        <td>{{ form.week2 }}<span class="red" style="color:red;">{{ form.week2.errors|striptags }}</span></td>
      </tr>
      <tr>
        <td>{{ form.week3.label }}</td>
        <td>{{ form.week3 }}<span class="red" style="color:red;">{{ form.week3.errors|striptags }}</span></td>
      </tr>
      <tr>
        <td>{{ form.week4.label }}</td>
        <td>{{ form.week4 }}<span class="red" style="color:red;">{{ form.week4.errors|striptags }}</span></td>
      </tr>
      <tr>
        <td>{{ form.total_hours.label }}</td>
        <td>{{ form.total_hours }}</td>
      </tr>
      <tr>
      <td colspan="2" text-align="center"><div class="submit-button" align-items="center"><button type="submit" id="submit_button">Submit Timesheet</button></div></td>
      </tr>
      {% endif %}
    </table>
    <a href="{% url 'timelog:index' %}">Back to Home</a>
    <div>
    {% if success %}
    {{ success }}
    {% endif %}
    </div>
  </div>

</div>
{% endblock %}
