{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'timelog/css/sheet.css' %}">

<div class="container">
  <h1>Monthly Employee Timesheet</h1>
  <h3>Update</h3>
  <p>Employee Name: <b>{{ context.user.name }}</b></p>
  <div class="form-group">
    <form method="post" action="{% url 'timelog:update' pk=context.pk %}">
    {% csrf_token %}
    <div class="my">
      <p>{{ form.month.label_tag }}
        <select name="month" id="month">
          <option value="{{ context.month }}" selected>
          {{ context.month }}
          </option>
        </select>
        {{ form.year.label_tag }}
        <select name="year" id="year">
          <option value="{{ context.year }}" selected>
          {{ context.year }}
          </option>
        </select>
      </p>
    </div>
    </div>

    <table id="sheet">
      <tr>
        <th>Weeks</th>
        <th>Hours</th>
      </tr>
    <tr>
      <td>{{ form.week1.label }}</td>
      <td>{{ form.week1 }}<span class="red">{{ form.week1.errors|striptags }}</span></td>
    </tr>
    <tr>
      <td>{{ form.week2.label }}</td>
      <td>{{ form.week2 }}<span class="red">{{ form.week1.errors|striptags }}</span></td>
    </tr>
    <tr>
      <td>{{ form.week3.label }}</td>
      <td>{{ form.week3 }}<span class="red">{{ form.week1.errors|striptags }}</span></td>
    </tr>
    <tr>
      <td>{{ form.week4.label }}</td>
      <td>{{ form.week4 }}<span class="red">{{ form.week1.errors|striptags }}</span></td>
    </tr>
    <tr>
      <td>{{ form.total_hours.label }}</td>
      <td>{{ form.total_hours }}</td>
    </tr>
    <tr>
    <td colspan="2" text-align="center"><div class="submit-button" align-items="center"><button type="submit" id="submit_button">Update Timesheet</button></div></td>
    </tr>
    </table>
    <a href="{% url 'timelog:index' %}">Back to Home</a>
    <div>
    {% if success %}
    {{ success }}
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}
